{% extends 'base.html.twig' %}

{% block title %}
    Paginated list
{% endblock %}

{% block pageTitle %}
    Paginated list :
{% endblock %}


{% block body %}
    <div class="">
        <h4> Here is the list of persons we have in our DB.</h4>
        <h5 class="mb-4">You can look up for details or even edit or delete a person if information are incorrect.</h5>
    </div>

    <div>
        {{ render(path('app_search')) }}
    </div>

    <div class="card-columns">
        {% for person in persons %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ person.firstname }} {{ person.lastname }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ person.age }} years old</h6>
                    <p class="card-text">Current job : {{ person.job }}</p>
                    <a href="{{ path('app_person_get', { id: person.id }) }}" class="card-link"><i
                                class="fa-solid fa-folder-open"></i></a>
                    <a href="{{ path('app_person_updatef', { id: person.id}) }}" class="card-link"><i
                                class="fa-solid fa-user-pen"></i></a>
                    <a href="{{ path('app_person_delete', { id: person.id }) }}" class="card-link"><i
                                class="fa-solid fa-user-minus"></i></a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="d-flex justify-content-center mt-2">
        {% if persons|length > 0 %}
            <ul class="pagination">
                {% if actualPage > 1 %}
                    <li class="page-item"><a class="page-link"
                                             href="{{ path('app_person_filter', {page: actualPage - 1, nb : nbPerPage}) }}">Previous</a>
                    </li>
                {% endif %}
                {% for i in 1..nbPages %}
                    <li class="page-item"><a class="page-link"
                                             href="{{ path('app_person_filter', {page: i, nb : nbPerPage}) }}">{{ i }}</a>
                    </li>
                {% endfor %}
                {% if actualPage < nbPages %}
                    <li class="page-item"><a class="page-link"
                                             href="{{ path('app_person_filter', {page: actualPage + 1, nb : nbPerPage}) }}">Next</a>
                    </li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
    <p class="text-center font-weight-bold font-italic"> Actual page : {{ actualPage }}</p>
{% endblock %}