{% extends 'base.html.twig' %}

{% block title %}
    Search page
{% endblock %}

{% block pageTitle %}
    Search page :
{% endblock %}


{% block body %}
    <a class="btn btn-secondary btn-sm mb-2" href="{{ path('app_person_filter') }}">Leave search page</a>

    <div class="mt-2">
        <h4> Here is the list of persons we have found with the keyword <span class="font-italic" style="color: red">{{ keyword }}</span> .</h4>
        <h5 class="mb-4">You can look up for details or even edit or delete a person if information are incorrect.</h5>
    </div>

    <div>
        {{ render(controller('App\\Controller\\SearchController::search')) }}
    </div>

    <div class="card-columns">
        {% for person in persons %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ person.firstname }} {{ person.lastname }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ person.age }} years old</h6>
                    <p class="card-text">Current job : {{ person.job }}</p>
                    <a href="{{ path('app_person_get', { id: person.id }) }}" class="card-link"><i
                                class="fa-solid fa-folder-open"></i></a>
                    <a href="{{ path('app_person_updatef', { id: person.id}) }}" class="card-link"><i
                                class="fa-solid fa-user-pen"></i></a>
                    <a href="{{ path('app_person_delete', { id: person.id }) }}" class="card-link"><i
                                class="fa-solid fa-user-minus"></i></a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}