<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            OUIHandle
        {% endblock %}
    </title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900">
        <script src="https://kit.fontawesome.com/b5758e40c2.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('node_modules/select2/dist/css/select2.min.css') }}">
    {% endblock %}
</head>
<body>
<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="custom-menu">
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
                <i class="fa fa-bars"></i>
                <span class="sr-only">Toggle Menu</span>
            </button>
        </div>
        <div class="pl-2 pr-4 pt-5">
            <h1><a href="{{ path('app_home') }}" class="logo text-decoration-none">OUIHandle</a></h1>
            {% if app.user %}
                <div class="mt-2 mb-2 ml-2">
                    <h3 class="h6">
                        Hi 👋 {{ app.user.email }}
                    </h3>
                </div>
            {% endif %}
            <ul class="list-unstyled components mb-5">
                <li>
                    <a href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false"
                       class="dropdown-toggle text-decoration-none"><i class="fa-solid fa-id-card"></i> Account</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu1">
                        {% if app.user %}
                            <li>
                                <a class="text-decoration-none" href="{{ path('app_logout') }}">Log out</a>
                            </li>
                        {% else %}
                            <li>
                                <a class="text-decoration-none" href="{{ path('app_login') }}">Log in</a>
                            </li>
                            <li>
                                <a class="text-decoration-none" href="{{ path('app_register') }}">Register</a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li>
                        <a class="text-decoration-none" href="{{ path('app_person_filter') }}"><i class="fa-solid fa-rectangle-list"></i> Paginated
                            list</a>
                    </li>
                    <li>
                        <a class="text-decoration-none"
                           href="{{ path('app_person_stats_age', {minAge: 16, maxAge:35}) }}"><i
                                    class="fa-solid fa-chart-line"></i> Stats by age</a>
                    </li>
                    <li>
                        <a class="text-decoration-none" href="{{ path('app_person_updatef') }}"><i
                                    class="fa-solid fa-database"></i> Add a person to BD</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5 pt-5">

        <h2 class="mb-4">
            {% block pageTitle %}
                Welcome to OUIHandle !
            {% endblock %}
        </h2>
        {% embed "session/index.html.twig" %}
        {% endembed %}
        {% block body %}
            <div class="container mt-4">
                <div class="row bg-light p-3 rounded">
                    <div class="col-lg-7">
                        <p>Welcome to our Symfony new application ! You visited our app {{ nb }} times, thank you
                            !</p>

                        <p>OUIHandle is an application that stores general and personal information about people
                            (firstname, lastname, CV, motivations...) looking for a job.</p>

                        <p>These people contact OUIHandle to help them in their research and are thus stored in our
                            database.</p>

                        <p>OUIHandle's job is to match a person with a job offered by one of its partners.</p>

                        <p>For example, if Olivia Stone wishes to become a designer in a start-up, then OUIHandle
                            will try to find a position among its partners that could correspond to her.</p>

                        <p>If you are an employee of OUIHandle, you can log in and begin to help people!</p>

                        <p>If you are a candidate, and you want to be added to our DB or deleted from our DB please
                            contact us via email : ouihandle@contact-handle.com</p>
                    </div>
                    <div class="col-lg-5">
                        <image src="{{ asset('assets/images/teamwork.jpg') }}"
                               class="img-fluid img-thumbnail"></image>
                    </div>
                </div>
            </div>
            <div class="container" style="height: 30vh">
            </div>
            <p class="text-muted text-center">Proudly developped by Theodor Brown with ❤</p>
        {% endblock %}
    </div>
</div>
</div>

<script src="{{ asset('node_modules/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ asset('assets/js/popper.js') }}"></script>
<script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/js/main.js') }}"></script>
<script src="{{ asset('node_modules/select2/dist/js/select2.min.js') }}"></script>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
